/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Fonts
// Set the project fonts here

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300');
@include font-face("TrajanPro-Regular", "../../fonts/TrajanPro-Regular", null, null, eot woff ttf svg);
@include font-face("AfterMidnite", "../../fonts/AfterMidnite", null, null, eot woff ttf svg);

$font-primary     : 'TrajanPro-Regular', serif;
$font-secondary   : 'AfterMidnite', sans-serif;
$font-tertiary    : 'Montserrat', sans-serif;