/// Sass Boilerplate to start new project with some functionalities.
/// @author Diogo Cezar <diogo@diogocezar.com>

// Shared
// Shared Configurations used in all pages

*{
  outline: none;
}

html{
	font-size: $size-base;
}

body{
  font-size: $size-base;
  font-family: $font-primary;
  background-color: $color-light;
  color: $color-purple;
}
*,
*:after,
*:before {
  @include border-box;
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
}

// Forms Reset IOS

input, textarea, select{
  -webkit-appearance: none;
  border-radius: 0px;
}

// Links

a{
  color: $color-purple;
  text-decoration: none;
  &:hover{
    color: $color-purple;
    text-decoration: none;
  }
  &:focus{
    color: $color-purple;
    text-decoration: none;
  }
  &:active{
    color: $color-purple;
    text-decoration: none;
  }
  &:visited{
    color: $color-purple;
    text-decoration: none;
  }
}

// Selection

::-moz-selection {
  color: $color-light;
  background: $color-purple;
}

::selection {
  color: $color-light;
  background: $color-purple;
}

// Headings

h1, h2, h3, h4{
  font-family: $font-primary;
  color: $color-purple;
}

h1{
  font-size: $size-s0;
  font-weight: 600;
}
h2{
  font-size: $size-s1;
  font-weight: 600;
}
h3{
	font-size: $size-s2;
  font-weight: 600;
}
h4{
  font-size: $size-s3;
  font-weight: 600;
}

// Paragraph

p{
  font-size: $size-normal;
}

// Generics

.center{
  text-align: center;
}

.img-center{
  margin: 0 auto;
}

.no-margin{
  margin:0px;
}

.no-padding{
  padding:0px;
}

.clear{
  clear: both;
}

// Equal Height

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

// Buttons

.button{
	cursor: pointer;
	width: 200px;
	border-radius: 40px;
	height: 40px;
	line-height: 38px;
	font-family: $font-tertiary;
	font-size: 0.8rem;
	left: 50%;
	position: relative;
	-webkit-transform: translate(-50%, 0) !important;
	-moz-transform: translate(-50%, 0) !important;
	-ms-transform: translate(-50%, 0) !important;
	transform: translate(-50%, 0) !important;
}

.button-transparent{
	border: 1px solid $color-light;
	background-color: transparent;
	color: $color-light;
	@include transition(.3s);
	&:hover{
		background-color: $color-light;
		color: $color-dark-purple;
	}
}

.button-white {
	border: 1px solid $color-light;
	background-color: $color-light;
	color: $color-purple;
	@include transition(.3s);
	&:hover {
		background-color: transparent;
		color: $color-light;
	}
}

// Loader

#loader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	height: 100vh;
	width: 100vw;
	background-color: $color-purple;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99999;
	img{
		height: 300px;
		width: 300px;
	}
}